@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --geist-background: 255 255 255;
        --geist-foreground: 0 0 0;
    }

    .dark {
        --geist-background: 0 0 0;
        --geist-foreground: 255 255 255;
    }

    body {
        @apply antialiased;
    }

    * {
        @apply border-gray-200 dark:border-gray-800;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
